{
        "tokens":[
                "token-from-slack",
                ""
        ],
        "certfile":"/path/to/fullchain.pem",
        "keyfile":"/path/to/privkey.pem",
        "listenon":":443",
        "cowsayexec":"/usr/games/cowsay"
}
